RewriteEngine On
RewriteBase /

# Si le fichier ou dossier existe, ne pas rediriger
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php dans le dossier public
RewriteRule ^(.*)$ /public/index.php [QSA,L]
